<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.todoapi.mapper.TodoMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into todos values
        ( default, #{userId}, #{categoryId}, #{title}, #{memo}, date(#{dueDate}), time(#{dueTime}), #{priority}, #{flagged}, #{completed}, #{completedAt}, #{createAt}, #{updatedAt})
    </insert>
    <update id="update">

    </update>
    <update id="updateFlag">
        update
            todos
        set
            is_flagged = #{flagged},
            updated_at = now()
        where
            id = #{id}
            and user_id = #{userId}
    </update>

    <update id="updateComplete">
        update
            todos
        set
            is_completed = #{completed},
            completed_at = #{completedAt},
            updated_at = now()
        where
            id = #{id}
            and user_id = #{userId}
    </update>
    <delete id="deleteByIdAndUserId">

    </delete>
    <select id="selectAllByUserId" resultType="Todo">
        select
            id, user_id, category_id, title, memo,
            due_date, due_time, priority,
            is_flagged, is_completed,
            completed_at, create_at, updated_at
        from
            todos
        where
            id = #{id}
            and user_id = #{userId}
    </select>
    <select id="selectByIdAndUserId" resultType="com.korit.todoapi.entity.Todo">
        select
            id, user_id, category_id, title, memo,
            due_date, due_time, priority,
            is_flagged, is_completed,
            completed_at, create_at, updated_at
        from
            todos
        where
            id = #{id}
            and user_id = #{userId}
    </select>
    <select id="selectAllByUserIdAndCondition" resultType="Todo">
        select
            id,
            user_id,
            category_id,
            title,
            memo,
            due_date,
            due_time,
            priority,
            is_flagged,
            is_completed,
            completed_at,
            create_at,
            updated_at
        from
            todos
        where
            user_id = #{userId}
            and due_date = #{condition.date}
        order by
            due_date asc,
            due_time asc,
            id desc
    </select>
</mapper>